*{
    padding: 0;
    margin:0;
    font-family:"微软雅黑";
}
html,body{
    height:100%;
}
/*查询条件*/
#wtxz_top{
    width:100%;
    height:85px;
    margin: 0;
    /*background: blue;*/
}
#wtxz_top .top_cx_title{
    height:30px;
    border-bottom:1px solid #d3e5f9;
    width:100%;
    color: #4b4d51;
}
#wtxz_top .top_cx_title p{
    display: inline-block;
    height:29px;
    border-bottom:2px solid #4c9de9;
}
.td_text{
    /*height: 30px;*/
    /*line-height: 30px;*/
    width: 120px;
    /*overflow: hidden;*/
    margin: 7px 0;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
#wtxz_datagrid .datagrid-cell{
    white-space: normal;
    padding:15px 0!important;
}
/*查询条件样式*/
#wtxz_top .top_cx_content{
    margin-top:20px;
    padding:15px 10px;
    border:1px solid #d3e5f9;
    border-radius: 5px;
    overflow: hidden;
}
#wtxz_top .cx_box{
    width:30%;
    float: left;
    height: 30px;
    line-height: 30px;
}
#wtxz_top .cx_text{
    float: left;
}
#wtxz_pcfl,#wtxz_pcjg,#wtxz_barq{
    float: left;
    width:60%;
}
/*主体内容样式*/
#wtxz_content{
    margin:10px 0 0 0;
    height:calc(100% - 132px);
    width:100%;
    /*background: #000;*/
    border:1px solid #d3e5f9;
    border-radius:5px;
}
/*查询按钮*/
.btn{
    width: 80px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #10B1F1;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    margin-right: 10px;
    /* margin-top: 5px; */
    cursor: pointer;
    float: right;
}
.btn:hover{
    background: #0377c0;
}
@media screen and (min-width: 1201px) and (max-width:1300px) {
    #wtxz_pie{
        zoom:1.41!important;
    }
}
@media screen and (min-width: 1300px) and (max-width:1370px) {
    #wtxz_pie{
        zoom:1.41!important;
    }
}
@media screen and (min-width: 1370px) and (max-width: 1440px) {
    #wtxz_pie{
        zoom:normal!important;
    }
}
@media screen and (min-width: 1441px) and (max-width:1610px){
    #wtxz_pie{
        zoom:normal!important;
    }
}
@media screen and (min-width: 1611px) and (max-width:1919px){
    #wtxz_pie{
        zoom:normal!important;
    }
}