<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="border: none; width: 100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <!--   <link href="../../Style/GlobalStyleDefine.css" rel="stylesheet" type="text/css" />-->
    <link href="../../Style/common.css" rel="stylesheet" type="text/css" />
    <link href="../../Script/jquery-easyui-1.4.3/themes/color.css" rel="stylesheet" type="text/css" />
    <link href="../../Script/jquery-easyui-1.4.3/themes/icon.css" rel="stylesheet" type="text/css" />
    <link href="../../Script/jquery-easyui-1.4.3/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="../../Style/glbb_home.css" rel="stylesheet" type="text/css" />
    <script src="../../Script/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../Script/jquery-easyui-1.4.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../Script/jquery-easyui-1.4.3/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../Script/Highcharts/js/highcharts.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../Script/Base64.js" type="text/javascript"></script>
    <script src="../../Script/common.js" type="text/javascript"></script>
    <script src="../../Script/Extend.js" type="text/javascript"></script>
    <script src="../../Script/jquery-easyui-1.4.3/jquery.easyui.plus.js" type="text/javascript"></script>
    <script src="../../Script/View/Platform/LineChart.js" type="text/javascript"></script>
</head>
<body style="width: 100%;">
    <table id="chartid" style="min-height: 220px; width:98%;height:100%"></table>
</body>
</html>