<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.start.boot.dao.ajpc.AjwthzMapper">
    <!--评查案件问题汇总小项查询-->
    <select id="getAjwthzList" resultType="com.start.boot.pojo.vo.AjpcwtxVo" parameterType="com.start.boot.query.QueryTable">
        SELECT a.pcxflfbm,a.pcxflbm,a.pcxbm,p.pcxflmc pcxflfmc,a.pcxflmc,a.pcxmc,nvl(c.wts,0) wts from
        (SELECT f.pcxflfbm, x.pcxflbm,f.pcxflmc,x.pcxbm,x.pcxmc from xt_pc_pcx x
        LEFT JOIN xt_pc_pcxfl f ON x.pcxflbm=f.pcxflbm
        WHERE x.pcmbbm=#{pcmbbm}) a
        LEFT JOIN xt_pc_pcxfl p ON a.pcxflfbm=p.pcxflbm
        LEFT JOIN (
        SELECT
        pcxbm,
        SUM(CASE
        WHEN x.pcfs = '1'
        AND x.pcjg = '1' THEN 1
        WHEN x.pcfs = '2'
        AND x.pcjg IS NOT NULL THEN 1
        ELSE  0
        END) wts
        FROM
        yx_pc_pcx x
        inner join yx_pc_jbxx jbxx on jbxx.pcmbbm = x.pcmbbm and x.pcslbm = jbxx.pcslbm
        WHERE x.pcmbbm=#{pcmbbm} and jbxx.sfsc = 'N'
        <if test="pcflbm !=null and pcflbm!=''">
          AND jbxx.PCFLBM=#{pcflbm}
        </if>
        <if test="dwbm !=null and dwbm!=''">
        AND jbxx.BPC_DWBM IN (${dwbm})
        </if>
        <if test="startDate !=null and startDate!=''">
        AND jbxx.BPC_WCRQ &gt;= "TO_DATE" (#{startDate}, 'yyyy-mm-dd')
        </if>
        <if test="endDate !=null and endDate!=''">
        AND jbxx.BPC_WCRQ &lt;= "TO_DATE" (#{endDate}, 'yyyy-mm-dd')
        </if>
        GROUP BY x.pcxbm
        ) c ON a.pcxbm=c.pcxbm
         ORDER BY a.pcxbm
    </select>

    <!--线下评查案件问题汇总小项查询-->
    <select id="getOfflineAjwthzList" resultType="com.start.boot.pojo.vo.AjpcwtxVo" parameterType="com.start.boot.query.QueryTable">
        SELECT a.pcxflfbm,a.pcxflbm,a.pcxbm,p.pcxflmc pcxflfmc,a.pcxflmc,a.pcxmc,nvl(c.wts,0) wts from
        (SELECT f.pcxflfbm, x.pcxflbm,f.pcxflmc,x.pcxbm,x.pcxmc from xt_pc_pcx x
        LEFT JOIN xt_pc_pcxfl f ON x.pcxflbm=f.pcxflbm
        WHERE x.pcmbbm=#{pcmbbm}) a
        LEFT JOIN xt_pc_pcxfl p ON a.pcxflfbm=p.pcxflbm
        LEFT JOIN (
        SELECT
        pcxbm,
        SUM(CASE
        WHEN x.pcfs = '1'
        AND x.pcjg = '1' THEN 1
        WHEN x.pcfs = '2'
        AND x.pcjg IS NOT NULL THEN 1
        ELSE  0
        END) wts
        FROM
        yx_pc_offline_pcx x
        inner join yx_pc_offline_jbxx jbxx on jbxx.pcmbbm = x.pcmbbm and x.pcslbm = jbxx.pcslbm
        WHERE x.pcmbbm=#{pcmbbm} and jbxx.sfsc = 'N'
        <if test="pcflbm !=null and pcflbm!=''">
            AND jbxx.PCFLBM=#{pcflbm}
        </if>
        <if test="dwbm !=null and dwbm!=''">
            AND jbxx.BPC_DWBM IN (${dwbm})
        </if>
        <if test="startDate !=null and startDate!=''">
            AND jbxx.BPC_WCRQ &gt;= "TO_DATE" (#{startDate}, 'yyyy-mm-dd')
        </if>
        <if test="endDate !=null and endDate!=''">
            AND jbxx.BPC_WCRQ &lt;= "TO_DATE" (#{endDate}, 'yyyy-mm-dd')
        </if>
        GROUP BY x.pcxbm
        ) c ON a.pcxbm=c.pcxbm
        ORDER BY a.pcxbm
    </select>

    <!--评查案件问题汇总大项查询-->
    <select id="getBarAjwthzList" resultType="com.start.boot.pojo.vo.AjpcwtxVo" parameterType="com.start.boot.query.QueryTable">
        SELECT pcxflfbm,pcxflbm,pcxflfmc,pcxflmc,wts wts FROM (
        SELECT a.pcxflfbm,a.pcxflbm,p.pcxflmc pcxflfmc,a.pcxflmc,nvl(c.wts,0) wts from
        (SELECT f.pcxflfbm, x.pcxflbm,f.pcxflmc from xt_pc_pcx x
        LEFT JOIN xt_pc_pcxfl f ON x.pcxflbm=f.pcxflbm
        WHERE x.pcmbbm=#{pcmbbm}) a
        LEFT JOIN xt_pc_pcxfl p ON a.pcxflfbm=p.pcxflbm
        LEFT JOIN (
        SELECT
        pcxflbm,
        SUM(CASE
        WHEN x.pcfs = '1'
        AND x.pcjg = '1' THEN 1
        WHEN x.pcfs = '2'
        AND x.pcjg IS NOT NULL THEN 1
        ELSE  0
        END) wts
        FROM
        yx_pc_pcx x
        inner join yx_pc_jbxx jbxx on jbxx.pcmbbm = x.pcmbbm and x.pcslbm = jbxx.pcslbm
        WHERE x.pcmbbm=#{pcmbbm} and jbxx.sfsc = 'N'
        <if test="pcflbm !=null and pcflbm!=''">
            AND jbxx.PCFLBM=#{pcflbm}
        </if>
        <if test="dwbm !=null and dwbm!=''">
            AND jbxx.BPC_DWBM IN (${dwbm})
        </if>
        <if test="startDate !=null and startDate!=''">
            AND jbxx.BPC_WCRQ &gt;= "TO_DATE" (#{startDate}, 'yyyy-mm-dd')
        </if>
        <if test="endDate !=null and endDate!=''">
            AND jbxx.BPC_WCRQ &lt;= "TO_DATE" (#{endDate}, 'yyyy-mm-dd')
        </if>
        GROUP BY x.pcxflbm
        ) c ON a.pcxflbm=c.pcxflbm
        ORDER BY a.pcxflbm ) T GROUP BY pcxflfbm,pcxflbm,pcxflfmc,pcxflmc,wts ORDER BY pcxflbm
    </select>

    <!--线下评查案件问题汇总大项查询-->
    <select id="getOfflineBarAjwthzList" resultType="com.start.boot.pojo.vo.AjpcwtxVo" parameterType="com.start.boot.query.QueryTable">
        SELECT pcxflfbm,pcxflbm,pcxflfmc,pcxflmc,wts wts FROM (
        SELECT a.pcxflfbm,a.pcxflbm,p.pcxflmc pcxflfmc,a.pcxflmc,nvl(c.wts,0) wts from
        (SELECT f.pcxflfbm, x.pcxflbm,f.pcxflmc from xt_pc_pcx x
        LEFT JOIN xt_pc_pcxfl f ON x.pcxflbm=f.pcxflbm
        WHERE x.pcmbbm=#{pcmbbm}) a
        LEFT JOIN xt_pc_pcxfl p ON a.pcxflfbm=p.pcxflbm
        LEFT JOIN (
        SELECT
        pcxflbm,
        SUM(CASE
        WHEN x.pcfs = '1'
        AND x.pcjg = '1' THEN 1
        WHEN x.pcfs = '2'
        AND x.pcjg IS NOT NULL THEN 1
        ELSE  0
        END) wts
        FROM
        yx_pc_offline_pcx x
        inner join yx_pc_offline_jbxx jbxx on jbxx.pcmbbm = x.pcmbbm and x.pcslbm = jbxx.pcslbm
        WHERE x.pcmbbm=#{pcmbbm} and jbxx.sfsc = 'N'
        <if test="pcflbm !=null and pcflbm!=''">
            AND jbxx.PCFLBM=#{pcflbm}
        </if>
        <if test="dwbm !=null and dwbm!=''">
            AND jbxx.BPC_DWBM IN (${dwbm})
        </if>
        <if test="startDate !=null and startDate!=''">
            AND jbxx.BPC_WCRQ &gt;= "TO_DATE" (#{startDate}, 'yyyy-mm-dd')
        </if>
        <if test="endDate !=null and endDate!=''">
            AND jbxx.BPC_WCRQ &lt;= "TO_DATE" (#{endDate}, 'yyyy-mm-dd')
        </if>
        GROUP BY x.pcxflbm
        ) c ON a.pcxflbm=c.pcxflbm
        ORDER BY a.pcxflbm ) T GROUP BY pcxflfbm,pcxflbm,pcxflfmc,pcxflmc,wts ORDER BY pcxflbm
    </select>
</mapper>