<?xml version="1.0" encoding="UTF-8"?>
                <!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.start.boot.dao.ajpc.EvalinfoMapper">

    <!--获取关联案件列表-->
    <select id="getPcjz" parameterType="map" statementType="CALLABLE">
        <![CDATA[
              call pkg_dhr.pkg_ajzlpc_get_pcjz(#{p_cbdw_bm,mode=IN,jdbcType=VARCHAR},
                                           #{p_nzrgh,mode=IN,jdbcType=VARCHAR},
                                           #{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=getPcjzResult},
                                           #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>
    <resultMap id="getPcjzResult" type="map"></resultMap>

</mapper>