<?xml version="1.0" encoding="UTF-8"?>
                <!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <mapper namespace="com.start.boot.dao.ajpc.FilterMapper">

    <!--获取筛选规则列表-->
    <select id="getSxgz" parameterType="map" statementType="CALLABLE">
        <![CDATA[
                call pkg_pcsx.proc_get_sxgz(#{p_dwbm,mode=IN,jdbcType=VARCHAR},
                                            #{p_pcflbm,mode=IN,jdbcType=VARCHAR},
                                            #{p_sslb,mode=IN,jdbcType=VARCHAR},
                                            #{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=sxgzMap},
                                            #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>
    <resultMap id="sxgzMap" type="map"></resultMap>

    <!--获取筛选规则列表（监控里用）-->
    <select id="getSxgzMonitor" parameterType="map" statementType="CALLABLE">
        <![CDATA[
                call pkg_pcsx.proc_get_sxgz_monitor(#{p_dwbm,mode=IN,jdbcType=VARCHAR},
                                                    #{p_pcflbm,mode=IN,jdbcType=VARCHAR},
                                                    #{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=sxgzMap},
                                                    #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>
    <resultMap id="sxgzMapMonitor" type="map"></resultMap>



    <!--获取评查活动绑定的筛选规则列表-->
    <select id="getHdsxgz" parameterType="map" statementType="CALLABLE">
        <![CDATA[
                call pkg_pcsx.proc_get_hdsxgz(#{p_pcdwbm,mode=IN,jdbcType=VARCHAR},
                                              #{p_pcflbm,mode=IN,jdbcType=VARCHAR},
                                              #{p_pchdbm,mode=IN,jdbcType=VARCHAR},
                                              #{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=pchdsxgzMap},
                                              #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>

    <resultMap id="pchdsxgzMap" type="map"></resultMap>

    <!--随机评查案件筛选（自定义）-->
    <select id="getSjsx" parameterType="map" statementType="CALLABLE">
        <![CDATA[
          call pkg_pcsx.proc_get_sjsx(  #{p_pcdwbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_pcflbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_pchdbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_gzdwbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_sxgzbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_cbdwbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_cbbmbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_ajlb,mode=IN,jdbcType=VARCHAR},
                                        #{p_bmsah,mode=IN,jdbcType=VARCHAR},
                                        #{p_ajmc,mode=IN,jdbcType=VARCHAR},
                                        #{p_cbrxm,mode=IN,jdbcType=VARCHAR},
                                        #{p_ay,mode=IN,jdbcType=VARCHAR},
                                        #{p_sfkf,mode=IN,jdbcType=VARCHAR},
                                        #{p_slrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_slrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_bjrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_bjrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_wcrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_wcrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_gdrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_gdrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_gzrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_gzrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_zdycxtj,mode=IN,jdbcType=VARCHAR},
                                        #{p_pagesize,mode=IN,jdbcType=NUMERIC},
                                        #{p_pageindex,mode=IN,jdbcType=NUMERIC},
                                        #{p_count,mode=OUT,jdbcType=NUMERIC,javaType=Integer},
                                        #{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=sjsxMap},
                                        #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>
    <resultMap id="sjsxMap" type="map"></resultMap>

    <!--随机评查案件筛选（进阶版）-->
    <select id="getSjsxAdvance" parameterType="map" statementType="CALLABLE">
        <![CDATA[
          call pkg_pcsx.proc_get_sjsx_advance(
                                        #{p_pcflbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_pcmbbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_sxgzbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_cbdwbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_cbbmbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_bmsah,mode=IN,jdbcType=VARCHAR},
                                        #{p_ajmc,mode=IN,jdbcType=VARCHAR},
                                        #{p_cbrxm,mode=IN,jdbcType=VARCHAR},
                                        #{p_sfkf,mode=IN,jdbcType=VARCHAR},
                                        #{p_wcrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_wcrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_zdycxtj,mode=IN,jdbcType=VARCHAR},
                                        #{p_pagesize,mode=IN,jdbcType=NUMERIC},
                                        #{p_pageindex,mode=IN,jdbcType=NUMERIC},
                                        #{p_count,mode=OUT,jdbcType=NUMERIC,javaType=Integer},
                                        #{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=sjsxMap},
                                        #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>

    <!--随机评查案件筛选（部门）-->
    <select id="get_sjsx_bm" parameterType="map" statementType="CALLABLE">
        <![CDATA[
          call pkg_pcsx.proc_get_sjsx_bm(#{p_pcdwbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_pcflbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_pchdbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_sxgzbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_cbdwbm,mode=IN,jdbcType=VARCHAR},
                                        #{p_slrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_slrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_bjrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_bjrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_wcrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_wcrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_gdrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_gdrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_gzrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_gzrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_zdycxtj,mode=IN,jdbcType=VARCHAR},
                                        #{p_cursor_cols,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=colsMap},
                                        #{p_cursor_rows,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=rowsMap},
                                        #{p_cursor_data,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=dataMap},
                                        #{p_errmsg,mode=OUT,jdbcType=VARCHAR} )
        ]]>
    </select>
    <resultMap id="colsMap" type="map"/>
    <resultMap id="rowsMap" type="map"/>
    <resultMap id="dataMap" type="map"/>


    <!--随机评查案件筛选（检察官）-->
    <select id="get_sjsx_jcg" parameterType="map" statementType="CALLABLE">
        <![CDATA[
          call pkg_pcsx.proc_get_sjsx_jcg(#{p_pcdwbm, mode=IN, jdbcType=VARCHAR},
                                        #{p_pcflbm, mode=IN, jdbcType=VARCHAR},
                                        #{p_pchdbm, mode=IN, jdbcType=VARCHAR},
                                        #{p_sxgzbm, mode=IN, jdbcType=VARCHAR},
                                        #{p_cbdwbm, mode=IN, jdbcType=VARCHAR},
                                        #{p_cbbm, mode=IN, jdbcType=VARCHAR},
                                        #{p_cbr, mode=IN, jdbcType=VARCHAR},
                                        #{p_slrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_slrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_bjrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_bjrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_wcrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_wcrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_gdrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_gdrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_gzrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_gzrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                        #{p_zdycxtj, mode=IN, jdbcType=VARCHAR},
                                        #{p_pagesize,mode=IN,jdbcType=NUMERIC},
                                        #{p_pageindex,mode=IN,jdbcType=NUMERIC},
                                        #{p_count,mode=OUT,jdbcType=NUMERIC,javaType=Integer},
                                        #{p_cursor_cols, mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=colsJcMap},
                                        #{p_cursor_rows, mode=OUT, jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=rowsJcMap},
                                        #{p_cursor_data, mode=OUT, jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=dataJcMap},
                                        #{p_errmsg, mode=OUT, jdbcType=VARCHAR})
        ]]>
    </select>
    <resultMap id="colsJcMap" type="map"></resultMap>
    <resultMap id="rowsJcMap" type="map"></resultMap>
    <resultMap id="dataJcMap" type="map"></resultMap>

    <!--评查监控-->
    <select id="getPcjk" parameterType="map" statementType="CALLABLE">
        <![CDATA[
          call pkg_pcsx.proc_get_pcjklist(#{p_dwbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_cbdwbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_bmbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_gh, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcdwbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcflbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_sxgzbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcy, mode=IN, jdbcType=VARCHAR},
                                          #{p_cbr, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcjl, mode=IN, jdbcType=VARCHAR},
                                          #{p_pczt, mode=IN, jdbcType=VARCHAR},
                                          #{p_wcrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                          #{p_wcrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},

                                          #{p_bjrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                          #{p_bjrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                          #{p_type, mode=IN, jdbcType=VARCHAR},
                                          #{p_ajmc, mode=IN, jdbcType=VARCHAR},
                                          #{p_bmsah, mode=IN, jdbcType=VARCHAR},
                                          #{p_pagesize,mode=IN,jdbcType=NUMERIC},
                                          #{p_pageindex,mode=IN,jdbcType=NUMERIC},
                                          #{p_count,mode=OUT,jdbcType=NUMERIC,javaType=Integer},
                                          #{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=pcjkMap},
                                          #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>
    <resultMap id="pcjkMap" type="map"></resultMap>


    <!--获取评查结论列表-->
    <select id="getPcjl" parameterType="map" statementType="CALLABLE">
        <![CDATA[
                call pkg_default.proc_get_pcjl(#{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=pcjlMap},
                                               #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>
    <resultMap id="pcjlMap" type="map"></resultMap>

    <!--获取评查状态列表-->
    <select id="getPczt" parameterType="map" statementType="CALLABLE">
        <![CDATA[
                call pkg_default.proc_get_pczt(#{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=pcztMap},
                                               #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>
    <resultMap id="pcztMap" type="map"></resultMap>

    <!--评查案件筛选列（随机/重点）1.部门总表，未评查案件列表-->
    <select id="getBmwpcList" parameterType="map" statementType="CALLABLE">
        <![CDATA[
          call pkg_pcsx.proc_get_bmsxlist(#{p_dwbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_bmbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_gzbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcflbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_pchdbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_gzrqbng,mode=IN,javaType=java.sql.Date,jdbcType=TIME},
                                          #{p_gzrqend,mode=IN,javaType=java.sql.Date,jdbcType=TIME},
                                          #{p_type,mode=IN,jdbcType=VARCHAR},
                                          #{p_pagesize,mode=IN,jdbcType=NUMERIC},
                                          #{p_pageindex,mode=IN,jdbcType=NUMERIC},
                                          #{p_count,mode=OUT,jdbcType=NUMERIC,javaType=Integer},
                                          #{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=bmwpcMap},
                                          #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>
    <resultMap id="bmwpcMap" type="map"></resultMap>

    <!--评查案件筛选列（随机/重点）检察官总表-->
    <select id="getCbrwpcList" parameterType="map" statementType="CALLABLE">
        <![CDATA[
          call pkg_pcsx.proc_get_cbrsxlist(#{p_dwbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_cbrgh, mode=IN, jdbcType=VARCHAR},
                                          #{p_gzbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcflbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_pchdbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_gzrqbng,mode=IN,javaType=java.sql.Date,jdbcType=TIME},
                                          #{p_gzrqend,mode=IN,javaType=java.sql.Date,jdbcType=TIME},
                                          #{p_type,mode=IN,jdbcType=VARCHAR},
                                          #{p_pagesize,mode=IN,jdbcType=NUMERIC},
                                          #{p_pageindex,mode=IN,jdbcType=NUMERIC},
                                          #{p_count,mode=OUT,jdbcType=NUMERIC,javaType=Integer},
                                          #{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=cbrwpcMap},
                                          #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>
    <resultMap id="cbrwpcMap" type="map"></resultMap>

    <!--随机、重点评查-->
    <update id="uptSjpcsx" parameterType="map" statementType="CALLABLE">
        <![CDATA[
              call pkg_pcbl.proc_upd_sjsx( #{p_pcflbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_pchdbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_bmsah,mode=IN,jdbcType=VARCHAR},
                                           #{p_sxgzbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_pcmbbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_bpc_wcbzrq,mode=IN,javaType=java.sql.Date,jdbcType=TIME},
                                           #{p_pcdwbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_dpc_dwbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_czr_dwbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_czr_dwmc,mode=IN,jdbcType=VARCHAR},
                                           #{p_czr_gh,mode=IN,jdbcType=VARCHAR},
                                           #{p_czr_mc,mode=IN,jdbcType=VARCHAR},
                                           #{p_pcr_dwbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_pcr_dwmc,mode=IN,jdbcType=VARCHAR},
                                           #{p_pcr_gh,mode=IN,jdbcType=VARCHAR},
                                           #{p_pcr_mc,mode=IN,jdbcType=VARCHAR},
                                           #{p_pcslbm,mode=OUT,jdbcType=VARCHAR,javaType=String},
                                           #{p_pcsah,mode=OUT,jdbcType=VARCHAR,javaType=String},
                                           #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </update>

    <!--专项评查-->
    <update id="uptZxpcsx" parameterType="map" statementType="CALLABLE">
        <![CDATA[
              call pkg_pcbl.proc_upd_zxsx( #{p_pcflbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_pchdbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_bmsah,mode=IN,jdbcType=VARCHAR},
                                           #{p_sxgzbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_pcmbbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_bpc_wcbzrq,mode=IN,javaType=java.sql.Date,jdbcType=TIME},
                                           #{p_pcdwbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_dpc_dwbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_czr_dwbm,mode=IN,jdbcType=VARCHAR},
                                           #{p_czr_dwmc,mode=IN,jdbcType=VARCHAR},
                                           #{p_czr_gh,mode=IN,jdbcType=VARCHAR},
                                           #{p_czr_mc,mode=IN,jdbcType=VARCHAR},
                                           #{p_pcslbm,mode=OUT,jdbcType=VARCHAR,javaType=String},
                                           #{p_pcsah,mode=OUT,jdbcType=VARCHAR,javaType=String},
                                           #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </update>


    <!--获取部门编码-->
    <select id="getBmList" parameterType="map" statementType="CALLABLE">
        <![CDATA[
              call pkg_pcsx.proc_get_bmbm(#{p_dwbm,mode=IN,jdbcType=VARCHAR},
                                          #{p_pcflbm,mode=IN,jdbcType=VARCHAR},
                                          #{p_cursor,mode=OUT,jdbcType=CURSOR,resultMap=bmListMap,javaType=java.sql.ResultSet},
                                          #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>

    <resultMap id="bmListMap" type="map">

    </resultMap>

    <!--获取部门编码-->
    <select id="getAllBm" parameterType="map" statementType="CALLABLE">
        <![CDATA[
              call pkg_pcsx.proc_get_allbm(#{p_dwbm,mode=IN,jdbcType=VARCHAR},
                                          #{p_cursor,mode=OUT,jdbcType=CURSOR,resultMap=allbmMap,javaType=java.sql.ResultSet},
                                          #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>

    <resultMap id="allbmMap" type="map">
    </resultMap>
    
    <select id="getPcbmj" parameterType="map" statementType="CALLABLE">
            <![CDATA[
              call pkg_pcsx.proc_get_mbbmj(#{p_pcflbm,mode=IN,jdbcType=VARCHAR},
                                          #{p_gzbm,mode=IN,jdbcType=VARCHAR},
                                          #{p_cursor,mode=OUT,jdbcType=CURSOR,resultMap=pcmbjMap,javaType=java.sql.ResultSet},
                                          #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
             ]]>
    </select>
    
    <resultMap id="pcmbjMap" type="map"></resultMap>

    <!--根据部门受案号查询案件信息-->
    <select id="getAjxxByBmsah" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT dw.dwmc FROM yx_pc_jbxx aj
        INNER JOIN xt_zzjg_dwbm dw ON aj.sxr_dwbm = dw.dwbm
         WHERE  aj.sfsc = 'N'
        <if test="bmsah !=null and bmsah!=''">
            AND aj.bmsah=#{bmsah}
        </if>
    </select>

    <!--根据部门受案号查询统一业务案件信息-->
    <select id="getTyywAjxxByBmsah" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT aj.* FROM tyyw_gg_ajjbxx@tyyw_link.net aj
        WHERE  aj.sfsc = 'N'
        <if test="bmsah !=null and bmsah!=''">
            AND aj.bmsah=#{bmsah}
        </if>
    </select>
    <!--获取筛选规则列表-->
    <select id="getSxgzByPcflbmAndYwtx" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT gz.gzbm, gz.dwbm, gz.pcflbm, gz.gzmc, gz.sxcx, gz.cxcs, gz.sm, nvl(FGZBM, '-1') fgzbm
                        , ywtx, sfzdy
                    FROM xt_pc_sxgz gz WHERE  gz.ywtx = #{ywtx} AND gz.pcflbm = #{pcflbm} AND gz.dwbm = #{dwbm}
        UNION  SELECT '-1' gzbm, #{dwbm} dwbm,  #{pcflbm} pcflbm ,'全部' gzmc,'' sxcx ,'' cxcs, '' sm, '0' fgzbm, #{ywtx} ywtx,'N' sfzdy from dual
    </select>

    <!--获取重点案件信息库所有案件信息-->
    <select id="getZdAj" parameterType="com.start.boot.domain.Param_Pcjk" resultMap="zdinfoMap">
        SELECT 'Y'  sfpc,
        jb.pcslbm,
        jb.cjsj,
        jb.pcjdms,
        jb.pcjl,
        jb.bmsah,
        jb.ajmc,
        jb.bpc_dwmc dwmc,
        jb.bpc_bmmc bmmc,
        jb.bpc_mc cbr,
        gz.gzmc sxgzmc

        FROM yx_pc_jbxx jb
        INNER JOIN xt_pc_sxgz gz
        ON jb.sxgzbm = gz.gzbm
        WHERE jb.sfsc='N'
        and  jb.pcflbm = '008'
        <if test="cbdwbm!=null and cbdwbm !=''">
            and  instr(#{cbdwbm}, jb.bpc_dwbm)  &gt;=1
        </if>
        <if test="bmbm !=null and bmbm!=''">
            and  instr(#{bmbm}, jb.bpc_bmbm)  &gt;=1
        </if>

        <if test="sxgzbm!=null and sxgzbm !=''">
            and  instr(#{sxgzbm}, jb.sxgzbm)  &gt;=1
        </if>

        <if test="cbr !=null and cbr!=''">
            and jb.bpc_mc like '%${cbr}%'
        </if>
        <if test="ajmc !=null and ajmc!=''">
            and jb.ajmc  like '%${ajmc}%'
        </if>

        <if test="wcrqbng !=null and wcrqbng!=''">
            and jb.bpc_wcbzrq &gt; to_date(#{wcrqbng},'yyyy-MM-dd')
        </if>

        <if test="wcrqend !=null and wcrqend!=''">
            and jb.bpc_wcbzrq &lt; to_date(#{wcrqend},'yyyy-MM-dd')
        </if>

        union


        select 'N'  sfpc,
        '' pcslbm,
        null cjsj,
        '' pcjdms,
        '' pcjl,
        jl.bmsah,
        jl.ajmc,
        jl.dwmc,
        jl.bmmc,
        jl.cbrmc cbr,
        gz.gzmc

        from yx_pc_sxjl jl
        inner join xt_pc_sxgz gz
        ON jl.sxgzbm = gz.gzbm
        where 1=1  and jl.pcflbm = '008'
        <if test="cbdwbm!=null and cbdwbm !=''">
            and  instr(#{cbdwbm}, jl.dwbm)  &gt;=1
        </if>

        <if test="bmbm !=null and bmbm!=''">
            and  instr(#{bmbm}, jl.bmbm)  &gt;=1
        </if>

        <if test="sxgzbm!=null and sxgzbm !=''">
            and  instr(#{sxgzbm}, gz.gzbm)  &gt;=1
        </if>

        <if test="cbr !=null and cbr!=''">
            and jl.cbrmc like '%${cbr}%'
        </if>
        <if test="ajmc !=null and ajmc!=''">
            and jb.ajmc  like '%${ajmc}%'
        </if>

        <if test="wcrqbng !=null and wcrqbng!=''">
            and  jl.wcbzrq &gt; to_date(#{wcrqbng},'yyyy-MM-dd')
        </if>

        <if test="wcrqend !=null and wcrqend!=''">
            and jl.wcbzrq &lt; to_date(#{wcrqend},'yyyy-MM-dd')
        </if>

    </select>
    
    <resultMap id="zdinfoMap" type="map"/>

    <select id="getSxgzByPcflbmAndPcmb" resultMap="pcsxgzMap">

        select  gzbm,
                gzmc,
                nvl2(fgzbm, fgzbm, '-1' ) fgzbm,
                SFZDY
        from xt_pc_sxgz
        where pcflbm = #{pcflbm} and pcmbj = #{pcmbbm}

    </select>

    <resultMap id="pcsxgzMap" type="map"/>

    <!--获取待分配案件列表-->
    <select id="getAj" parameterType="com.start.boot.domain.JxpcAj" resultType="com.start.boot.domain.JxpcAj$Aj">


        SELECT sxjl.dwbm,
               sxjl.dwmc,
               sxjl.bmsah,
               sxjl.ajmc,
               sxjl.pcflbm,
               sxjl.ajlb_bm,
               sxjl.ajlb_mc

            from yx_pc_sxjl sxjl
        where NOT EXISTS (SELECT 1 FROM yx_pc_jbxx jb WHERE sxjl.bmsah = jb.bmsah AND jb.sfsc='N')
        and  sxjl.pcflbm = #{pcflbm}
        and sxjl.bmsah in
        <foreach collection="bmsahlist" item="bmsah" open="(" separator="," close=")">
             #{bmsah}
        </foreach>

        union


        select  aj.cbdw_bm dwbm,
                aj.cbdw_mc dwmc,
                aj.bmsah,
                aj.ajmc,
                '000' pcflbm,
                aj.ajlb_bm,
                aj.ajlb_mc

        from tyyw_gg_ajjbxx@tyyw_link.net aj
        where NOT EXISTS (SELECT 1 FROM yx_pc_jbxx jb WHERE aj.bmsah = jb.bmsah AND jb.sfsc='N')
        and   NOT EXISTS (SELECT 1 FROM yx_pc_sxjl jl WHERE aj.bmsah = jl.bmsah )
        and aj.sfsc = 'N'
        and aj.bmsah in
        <foreach collection="bmsahlist" item="bmsah" open="(" separator="," close=")">
             #{bmsah}
        </foreach>


    </select>
    
    <!--案件分配-->
    <insert id="assignJxAj" parameterType="com.start.boot.domain.JxpcAj" useGeneratedKeys="false" >

        insert into yx_pc_jxpcaj
        (dwbm,
        dwmc,

        bmsah,
        ajmc,
        pcflbm,
        ajlb_bm,
        ajlb_mc,
        jsdw,
        jsdwmc,
        cjsj,
        sm,
        czr_dwbm,
        czr_dwmc,
        czr_gh,
        czr_mc)

        select A.*
        from (
        <foreach collection="ajList" item="aj" index="index"  separator="UNION ALL">
            select
            #{dwbm, jdbcType=CHAR},
            #{dwmc, jdbcType = VARCHAR},

            #{aj.bmsah, jdbcType= VARCHAR},
            #{aj.ajmc, jdbcType= VARCHAR},
            #{aj.pcflbm, jdbcType= CHAR},
            #{aj.ajlb_bm, jdbcType= CHAR},
            #{aj.ajlb_mc, jdbcType= VARCHAR},
            #{jsdw, jdbcType= CHAR},
            #{jsdwmc, jdbcType=VARCHAR},
            SYSDATE,
            #{sm, jdbcType= VARCHAR},
            #{czr_dwbm, jdbcType= CHAR},
            #{czr_dwmc, jdbcType= VARCHAR},
            #{czr_gh, jdbcType= CHAR},
            #{czr_mc, jdbcType= VARCHAR}
            from dual

        </foreach>
        )A
    </insert>


    <!--撤回案件开放-->
    <delete id="removeAssignJxaj" parameterType="com.start.boot.domain.JxpcAj">

        delete from yx_pc_jxpcaj jxpcaj
        where 1 =1 
        and jxpcaj.dwbm = #{dwbm}
        and  jxpcaj.bmsah in
            <foreach collection="bmsahlist" item="bmsah" open="(" separator="," close=")">
                  #{bmsah}
            </foreach>
    </delete>

    <!--评查案件概览（含问题数量和问题描述）-->
    <select id="getPcajgl" parameterType="map" statementType="CALLABLE">
        <![CDATA[
          call pkg_pcsx.proc_get_pcajgllist(#{p_dwbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_cbdwbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_bmbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_gh, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcdwbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcflbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_sxgzbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcy, mode=IN, jdbcType=VARCHAR},
                                          #{p_cbr, mode=IN, jdbcType=VARCHAR},
                                          #{p_cbrsf, mode=IN, jdbcType=VARCHAR},

                                          #{p_pcjl, mode=IN, jdbcType=VARCHAR},
                                          #{p_pczt, mode=IN, jdbcType=VARCHAR},

                                          #{p_ywtx, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcxbm, mode=IN, jdbcType=VARCHAR},

                                          #{p_wcrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                          #{p_wcrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},

                                          #{p_bjrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                          #{p_bjrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                          #{p_type, mode=IN, jdbcType=VARCHAR},
                                          #{p_ajmc, mode=IN, jdbcType=VARCHAR},
                                          #{p_pagesize,mode=IN,jdbcType=NUMERIC},
                                          #{p_pageindex,mode=IN,jdbcType=NUMERIC},
                                          #{p_count,mode=OUT,jdbcType=NUMERIC,javaType=Integer},
                                          #{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=pgetPcajglMap},
                                          #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>
    <resultMap id="pgetPcajglMap" type="map"></resultMap>

    <!--评查问题项排名（评查监控）-->
    <select id="exportPcwtxtop" parameterType="map" statementType="CALLABLE">
        <![CDATA[
          call pkg_pcsx.proc_get_pcwtxtop(#{p_dwbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_cbdwbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_bmbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_gh, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcdwbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcflbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_sxgzbm, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcy, mode=IN, jdbcType=VARCHAR},
                                          #{p_cbr, mode=IN, jdbcType=VARCHAR},
                                          #{p_cbrsf, mode=IN, jdbcType=VARCHAR},

                                          #{p_pcjl, mode=IN, jdbcType=VARCHAR},
                                          #{p_pczt, mode=IN, jdbcType=VARCHAR},

                                          #{p_ywtx, mode=IN, jdbcType=VARCHAR},
                                          #{p_pcxbm, mode=IN, jdbcType=VARCHAR},

                                          #{p_wcrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                          #{p_wcrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},

                                          #{p_bjrqbng, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                          #{p_bjrqend, mode=IN, javaType=java.sql.Date,jdbcType=TIME},
                                          #{p_type, mode=IN, jdbcType=VARCHAR},
                                          #{p_ajmc, mode=IN, jdbcType=VARCHAR},
                                          #{p_pagesize,mode=IN,jdbcType=NUMERIC},
                                          #{p_pageindex,mode=IN,jdbcType=NUMERIC},
                                          #{p_count,mode=OUT,jdbcType=NUMERIC,javaType=Integer},
                                          #{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=pgetPcajglMap},
                                          #{p_errmsg,mode=OUT,jdbcType=VARCHAR})
        ]]>
    </select>

    <!--根据问题项树-->
    <select id="getWtx" parameterType="java.util.Map" resultType="java.util.Map">
        WITH wtxtab AS (
        SELECT DISTINCT x.flxtdm grade,x.fflxtdm prt_dm,prt.mc prt_mc ,x.xtdm chd_dm,chd.mc chd_mc
        FROM xt_pc_pcx x
        INNER JOIN xt_pc_dm prt ON prt.dm = x.fflxtdm and prt.SFSC='N'
        INNER JOIN xt_pc_dm chd ON chd.dm = x.xtdm and chd.SFSC='N'
        WHERE  x.pcflbm='001' --AND x.flxtdm ='30003' --错误30002 瑕疵30003
        <if test="ywtx !=null and ywtx!=''">
            AND x.ywtx IN ( ${ywtx} )
        </if>
        -- ORDER by x.fflxtdm,x.xtdm
        )
        SELECT * from (
        SELECT DISTINCT p.prt_dm dm,'2' fdm,p.prt_mc mc,'2' dmfl from wtxtab p --系统代码表fdm=2
        UNION ALL
        SELECT DISTINCT c.prt_dm||c.chd_dm dm,c.prt_dm fdm,c.chd_mc mc,'4' dmfl from wtxtab c --系统代码表fdm=4
        )  a ORDER by a.fdm,decode(mc,'其他','49999',a.dm)

    </select>
</mapper>