<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.start.boot.dao.ajpc.PdxMapper">

    <select id="getPdx" parameterType="com.start.boot.query.PdxQuery" resultMap="pdxMap">

        WITH tab_pdx AS (
                SELECT
                    pdx.pdxbm                                            pdxbm,
                    pdx.pdxmc                                            pcxmc,
                    pdxfl.pdxflbm                                        f2flbm,
                    pdxfl.pdxflmc                                        f2flmc,
                    pdxfl2.pdxflbm                                       f3flbm,
                    pdxfl2.pdxflmc                                       f3flmc,
                    pdx.dcmbbm,
                    pdx.bz,
                    NVL2(yxpdx.pdxlx, yxpdx.pdxlx, '-1')                 pcjg,
                    NVL2(yxpdx.pdyj, yxpdx.pdyj, nvl2(dx.sm, dx.sm, '')) pdyj,
                    pdxfl.xh as f2xh,
                    pdx.xh as xh
                --yxpdx.pdyj,
                --pcx.sm

                FROM xt_dc_pdx pdx
                    LEFT JOIN yx_dc_pdx yxpdx
                        ON pdx.pdxbm = yxpdx.pdxbm
                           AND pdx.dcmbbm = yxpdx.dcmbbm
                           AND yxpdx.pcslbm = #{pcslbm}

                    INNER JOIN xt_dc_pdxfl pdxfl
                        ON pdx.pdxflbm = pdxfl.pdxflbm

                    INNER JOIN xt_dc_pdxfl pdxfl2
                        ON pdxfl.pdxflfbm = pdxfl2.pdxflbm
                           AND pdxfl2.pdxflfbm IS NULL

                    LEFT JOIN (SELECT
                                   dcpcx.pcx_xtdm,
                                   dcpcx.dcmbbm,
                                   dcpcx.pdxbm,
                                   pcx.sm
                               FROM XT_DCX_PCX dcpcx
                                   LEFT JOIN yx_pc_pcx pcx
                                       ON dcpcx.pcx_xtdm = pcx.xtdm
                                          AND pcx.pcslbm = #{pcslbm}
                                          AND ((pcx.pcfs = '1' AND pcjg = '1')
                                               OR (pcx.pcfs = '2' AND pcjg IS NOT NULL))
                              ) dx ON pdx.pdxbm = dx.pdxbm
                                      AND pdx.dcmbbm = dx.dcmbbm
                WHERE 1 = 1
                      AND pdxfl.pdxflmc = #{pcjl}
                      AND exists (

                              select mb.dcmbbm
                              from
                                  xt_dc_mb mb
                                  left join xt_dc_ajlb ajlb
                                      on mb.dcmbbm = ajlb.dcmbbm

                              where mb.sfqy = 'Y'
                                    AND ( (mb.sfty='Y')
                                          OR (mb.sfty='N' and ajlb.ajlbbm = #{ajlbbm})
                                    )

                                    AND pdx.dcmbbm = mb.dcmbbm
                      )
            --pdx.dcmbbm = '420000100'
        )

        SELECT MAX(tab.f3flbm)  f3flbm,
               max(tab.f3flmc)  f3flmc,
               max(tab.f2flbm)  f2flbm,
               max(tab.f2flmc)  f2flmc,
               max(tab.pdxbm)   pdxbm,
               max(tab.pcxmc)  pcxmc,
               max(tab.bz) bz,
               max(tab.dcmbbm) dcmbbm,
               max(tab.pcjg)  pcjg,
               max(tab.f2xh) f2xh,
               max(tab.xh) xh,
            wmsys.wm_concat(distinct tab.pdyj) pcyj


        FROM tab_pdx tab
        GROUP BY
            tab.f3flbm,
            tab.f3flmc,
            tab.f2flbm,
            tab.f2flmc,
            tab.pdxbm,
            tab.pcxmc

        order by tab.f3flmc,f2xh,xh

    </select>
    
    <resultMap id="pdxMap" type="map">
        <result property="f3flbm" column="F3FLBM"/>
        <result property="f3flmc" column="F3FLMC"/>
        <result property="f2flbm" column="F2FLBM"/>
        <result property="f2flmc" column="F2FLMC"/>
        <result property="pdxbm" column="PDXBM"/>
        <result property="pcxmc" column="PCXMC"/>
        <result property="bz" column="BZ"/>
        <result property="dcmbbm" column="DCMBBM"/>
        <result property="pcjg" column="PCJG"/>
        <result property="pcyj" column="PCYJ"/>
    </resultMap>

    <!--获取勾选的评定项用于生成评定报告-->
    <select id="getSelectedPdx" resultType="com.start.boot.domain.YxDcPdx">

        with tab_pdx as(

                select
                    pdxfl.pdxflmc pdxflbm,
                    yxpdx.pdxmc pdxmc,
                    yxpdx.pdyj

                from yx_dc_pdx yxpdx
                    inner join xt_dc_pdxfl pdxfl
                        on yxpdx.pdxflbm = pdxfl.pdxflbm
                where yxpdx.pcslbm = #{pcslbm}
                      and   yxpdx.pdxlx = '1'
                order by pdxfl.pdxflmc,yxpdx.xh)
        select distinct a.pdxflbm,
            wmsys.wm_concat(a.pdxmc || '(' ||  a.pdyj || ')'  ) as pdyj
        from tab_pdx a
        group by a.pdxflbm


    </select>
    
    
    <!--获取勾选的评查项用于生成个案评定报告中的问题项-->
    <select id="getSelectedPcx" resultType="com.start.boot.domain.Yx_Pc_Pcx">
      with tab_pcx as (
        select
            pcxfl2.pcxflmc as pcxflbm,
            pcx.pcxmc,
            pcx.sm
        from yx_pc_pcx pcx
            inner join yx_pc_pcxfl pcxfl
                on pcx.pcslbm = pcxfl.pcslbm
                   and pcx.pcxflbm = pcxfl.pcxflbm
                   AND ((pcx.pcfs = '1' AND pcx.pcjg = '1') OR
                        (pcx.pcfs = '2' AND pcx.pcjg IS NOT NULL))
            inner join yx_pc_pcxfl pcxfl2
                on pcxfl.pcslbm = pcxfl2.pcslbm
                   and pcxfl.pcxflfbm = pcxfl2.pcxflbm
                   and pcxfl2.pcxflfbm is null
        where 1=1
              and pcx.pcslbm = #{pcslbm}
        order by pcxfl2.xh,pcx.xh)

      select distinct a.pcxflbm,
          wmsys.wm_concat(a.pcxmc || '(' ||  a.sm || ')'  ) as pcxmc
      from tab_pcx a
      group by a.pcxflbm

    </select>

    <!--根据父评定项获取评定项-->
    <select id="getPdxWt" resultType="com.start.boot.domain.Yx_Pc_Pcx">
        select pdx.pdxmc, pdx.pdjg, pdx.pdyj
        from yx_dc_pdx pdx
            inner join xt_dc_pdxfl pdxfl on pdx.pdxflbm = pdxfl.pdxflbm
        where pdx.pcslbm = #{pcslbm}
              and pdxfl.pdxflmc = #{pdxflmc}

    </select>

</mapper>