<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>典型案例</title>
</head>
<body>
<!--页面JS加载，放在头部不能正确加载-->
<script type="text/javascript">
    AddScript("text/javascript", "script/resource/material/index.js");
</script>

<!--案例列表-->
<div id="div_tool_search" style="padding:5px 0 5px 10px;border: none" >
    关键字 <input id="pczl_keyword" class="easyui-textbox" style="width:180px;height: 28px;" />&nbsp;上传时间
    <input id="date_resource_material_kssj" class="easyui-datebox" style="width:180px;height: 28px;cursor: pointer; border-color: #95B8E7"/>&nbsp;~
    <input id="date_resource_material_end" class="easyui-datebox" style="width:180px;height: 28px;cursor: pointer; border-color: #95B8E7"/>&nbsp;
    <a id="btn_ressource_pczl_search" class="easyui-linkbutton" style="padding: 0 15px;background:#327cbb;color: #ffffff;">查询</a>&nbsp;
    <a id="btn_ressource_pczl_add" class="easyui-linkbutton" style="padding: 0 15px">上传</a>
</div>

<div id="layout_pczl" class="easyui-layout" data-options="fit:true">
    <div id="panel_tzgg" class="easyui-panel" data-options="fit:true,border:true" style="border: none">
        <table id="table_resource_pczl_list" >
        </table>
    </div>
</div>

<!--弹窗：添加/编辑-->
<div id="win_resource_pczl_assign" class="easyui-window" title="评查资料" style="width:850px; height:480px;"
     data-options="closed:true,collapsible:false,maximizable:false,minimizable:false,modal:true,cache:false">
    <div style="margin-top:15px; margin-left:40px"><span id="lblTzggAJSL"></span></div>
    <div style=" margin-top:15px; margin-bottom:15px;margin-left: 10px">
        <table class="winTzggAssign_table">
            <tr style="margin-bottom: 10px">
                <td style="width: 80px; text-align: right">标题：</td>
                <td><input id="pczl_title" class="easyui-textbox" style="width:700px;" /></td>
                <td><span style="text-align:left;color:Red">*</span></td>
            </tr>
            <tr style="margin-bottom: 10px">
                <td style="text-align: right">是否共享：</td>
                <td>
                    <input type="radio" id="gx" value="1"  checked="checked" name="pczl_sfgx"/>是
                    <input style="margin-left: 20px;" type="radio" id="bgx" value="0" name="pczl_sfgx"/>否
                </td>
                <td><span style="text-align:left;color:Red">*</span></td>
            </tr>
            <tr style="margin-bottom: 10px;">
                <td style="text-align: right">资料附件：</td>
                <td>
                    <form id="fileUploadPczl" enctype="multipart/form-data" method="post" style="">
                        <div style="width: 220px;height: 30px; float: left; margin-right: 20px;">
                            <input id="pczl_zlmc" name="zlmc" class="easyui-textbox" style="width: 220px;height: 30px;"/>
                        </div>
                        <div style="width: 150px;height: 26px;float: left;">
                            <a href="javascript:void(0)" id="a-upload" style="height: 20px">
                                <input type="file" name="file" id="pczl_upload_file">点击这里选择文件
                            </a>
                        </div>
                        <div style="width: 200px;height: 26px;float: left;" >
                            <a id="pczl_cancle_upload" class="easyui-linkbutton">取消附件</a>
                        </div>
                    </form>
                </td>
            </tr>
            <tr style="margin-bottom: 10px">
                <td style="text-align: right">内容：</td>
                <td><input id="pczl_msxx" class="easyui-textbox " data-options="multiline:true" style="width:700px;height: 260px"/></td>
                <td><!--<span style="text-align:left;color:Red">*</span>--></td>
            </tr>
        </table>
    </div>
    <div style="text-align:center;">
        <a id="btn_resource_pczl_confirm" class="easyui-linkbutton">添加</a>&nbsp;
        <a id="btn_resource_pczl_cancle" class="easyui-linkbutton" style="padding: 0 10px;">取消</a>
    </div>
</div>

</body>
</html>
