*{
    margin: 0;
    padding: 0;
}
#kd_lay_left{
    width:35%;
    float: left;
    height:100%;
    position: relative;
    padding: 10px;
}
#kd_gjcx_tiaojian{
    height: calc(100% - 135px);
    width: 100%;
    margin: 0 auto;
    /* padding: 10px 25px 10px 30px; */
    padding-top:10px;
    overflow: auto;
}
#kd_lay_leftTop{
    height: 40px;
    width: 95%;
    margin: 0 auto;
    line-height: 40px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #ebf1f1;
    margin-top: 10px;
}
#kd_lay_leftTop .kd_tj_box_sf,
#kd_lay_leftTop .kd_tj_box_ysf,
#kd_lay_leftTop .kd_tj_box_value{
    height:38px;
}
.kd_tj_row{
    overflow: hidden;
    width: 100%;
    padding-bottom: 7px;
}
.kd_tj_box_sf,.kd_tj_box_sf_fixed{
    width: 27%;
    height: 24px;
    float: left;
}
.kd_tj_box_ysf,.kd_tj_box_ysf_fixed{
    width: 18%;
    height: 24px;
    float: left;
}
.kd_tj_box_value,.kd_tj_box_value_fixed{
    width: 47%;
    height: 24px;
    float: left;
}
.kd_tj_box_action{
    width: 8%;
    height: 24px;
    float: left;
}
.kd_sf,.kd_ysf{
    width:95%;
}
.kd_sf_value{
    width:95%;
}

.kd_tiaojian_btn{
    width: 22px;
    height: 22px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    color: #d1d1d1;
    cursor: pointer;
    font-size: 14px;
    float: right;
    text-align: center;
    margin-right: 2px;
    moz-user-select: none;
    -moz-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.kd_tiaojian_btn:hover{
    background: red;
    color: #fff;
}
.kd_tiaojian_add{
    margin-right: 5px;
}
.kd_sf_value{
    height: 26px;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
}
.kd_cent_btn{
    width: 77px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    background-color: #258EEA;
    border: 1px solid #258EEA;
    color: #fff;
    margin-top: 3px;
    cursor: pointer;
    font-size: 14px;
    float: left;
    text-align: center;
}
.kd_cent_btn:hover{
    background: #fff;
    color: #258EEA;
}
.kd_cent_add{
    margin-right: 20px;
}

/*高级查询数据展示部分*/
#kd_gjcx_center{
    width:65%;
    height:100%;
    float: left;
    padding:10px 10px 10px 0;
}
/*//修改滚动条默认样式*/
div::-webkit-scrollbar {
    width: 6px;/*y轴滚动条宽度*/
    height: 6px/*x轴滚动条高度*/;
}
div::-webkit-scrollbar-track-piece {/*内部轨道*/
    background-color: #ddf0ff;
    -webkit-border-radius: 4px;
}
div::-webkit-scrollbar-thumb{/*滚动条*/
    background-color: #47a0d7;
    height: 50px;
    -webkit-border-radius: 4px;
}
#radio_manage_manage_choose .radio {
    float: left;
    margin-top: 4px;
    cursor: pointer;
    margin-left: 15px;
    color: #053e69;
}
#radio_manage_manage_choose .radio:first-child{
    margin-left:0;
}

#radio_manage_manage_choose .redio_click_no {
    background: url(../image/home/01.png) no-repeat center !important;
}

#radio_manage_manage_choose .redio_click {
    margin: 4px 4px 0 4px;
    width: 12px;
    height: 12px;
    float: left;
    background: url(../image/home/02.png) no-repeat center;
}