*{
    margin: 0;
    padding: 0;
}
.ZXpchdjbxx{
    /* position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;*/
    font-family: 微软雅黑;
    background-color: #F0F9FF;
    width: 100%;
    /* height: 100%;*/
    min-height: 550px;
}
.ZXpchdjbxx_url{
    width: 100%;
    height: 40px;
    background-color: #DDEEF8;
    color: #616A6F;
    font-size: 14px;
}
.ZXpchdjbxx_tj{
    width: 96%;
    height: 50px;
    border-bottom: 1px solid #B0CEF0;
    margin-left: 2%;
}
.ZXpchdjbxx_tj_1{
    /* width: 105px; */
    float: left;
    font-weight: bold;
    border-bottom: 3px solid #2287E0;
    margin-top: 18px;
    height: 30px;
}
.ZXpchdjbxx_sj{
    width: calc(100% - 2px);
    height: 55px;
    border: 1px solid #B0CEF0;
    margin-left: 0;
    margin-top: 20px;
    background-color: #fff;
}
.ZXpchdjbxx_sj_2{
    width: 75px;
    height: 30px;
    color: #fff;
    background-color: #248DE9;
    border: 0;
    border-radius:5px;
    margin-left: 20px;
    font-size: 14px;
    outline: none;
}
.ZXpchdjbxx_sj_1{
    width: 105px;
    height: 30px;
    border: 1px solid #2688DF;
    background-color: #fff;
    display: inline-block;
    margin-left: 20px;
    border-radius:5px;
    outline: none;
}

.ZXpchdjbxx_sj_all{
    width: 97%;
    height: 55px;
    margin-left: 1.5%;
    font-size: 14px;
    color: #858585;
}
.ZXpchdjbxx_sj_all_1{
    width: 22%;
    height:32px;
    float: left;
    margin-top: 10px;
}

.ZXpchdjbxx_sj_all_1>input{
    width: 50%;
    height: 30px;
    border-radius:2px;
    border: 1px solid #c1c1c1;
    text-indent: 10px;
}
.ZXpchdjbxx_sj_all_2{
    width: 24%;
    height: 100%;
    float: left;
}
.ZXpchdjbxx_sj_all_2>input{
    width: 50%;
    height: 30px;
    border-radius:2px;
    border: 1px solid #c1c1c1;
}
.ZXpchdjbxx_content{
    width: calc(100% - 2px);
    height: calc(100% - 391px);

    border: 1px solid #B0CEF0;
    margin-left: 0;
    margin-top: 10px;
    background-color: #fff;
    overflow-y: auto;
}

#wwd>.ZXpc_pcfa_sj_all_1>.textbox {
    float: left;

}
.ZXpchdjbxx_2{
    width: 80px;
    height: 30px;
    color: #fff;
    background-color: #10B1F1;
    border: 0;
    border-radius:5px;
    font-size: 14px;
    outline: none;
    margin-left: 10px;
}
.ZXpchdjbxx_bottom{
    width: 100%;
    height: 50px;
    background-color: #D8EAF8;
    margin-top: 10px;
    /* position: absolute;
    bottom: 0;
    left: 0;*/
    margin-left: -20px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
}
.ZXpchdjbxx_bottom_1{
    color: #fff;
    float: right;
    margin-right: 2%;
    background-color: #258EEA;
    width: 90px;
    height: 32px;
    border: 1px solid #258EEA;
    border-radius:5px;
    margin-top: 10px;
    cursor: pointer;
}
.ZXpchdjbxx_sp{
    float: left;
    margin-right: 5px;
    line-height: 30px;
}
/*.ZXpchdjbxx_tj_2{
    width: 80px;
    height: 30px;
    background-color: #248DE9;
    border-radius:5px;
    border: 1px solid #248DE9;
    color: #fff;
    float: left;
    margin-top: 13px;
}*/
.ZXpchdjbxx_contop{
    width: 100%;
    height: 30px;
    font-size: 14px;
}
.ZXpchdjbxx_div{
    float: left;
    margin-left: 50px;
}
.ZXpchdjbxx_span{
    float: left;
    color: #FE5617;
    margin-left: 5px;
}

.ZXpchdjbxx_tj{
    width: calc(100% - 2px);
    height: 50px;
    border-bottom: 1px solid #B0CEF0;
    margin-left: 0;
}
.ZXpchdjbxx_tj_1{
    /* width: 96px; */
    float: left;
    font-weight: bold;
    border-bottom: 3px solid #2287E0;
    margin-top: 18px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    padding-right: 20px;
}
.ZXpchdjbxx_tj_2{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #258EEA;
    border: 1px solid #258EEA;
    color: #fff;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
}
.ZXpchdjbxx_xz{
    width: 96%;
    /* height: 131px; */
    overflow: hidden;
    margin-left: 0;
}
.ZXpchdjbxx_xz_rys{
    float: left;
    width: 300px;
    margin: 15px 0 0 0;
    border: 1px solid #6cc7cb;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #6cc7cb;
    position: relative;
    overflow: hidden;
    padding: 6px 0 12px 0;
}
.ZXpchdjbxx_xz_rys:hover .ZXpchdjbxx_xz_rys_hover{
    display: block;
}
.ZXpchdjbxx_xz_zz{
    width: 100px;
    height: 80px;
    border-right: 1px solid #45b1ba;
    background: url("../image/home/touxiang.png") no-repeat 50%;
    float: left;
    margin: 15px 0 0 10px;
}
.ZXpchdjbxx_xz_one{
    width: 185px;
    /* height: 80px; */
    float: left;
    margin: 15px 0 0 0px;
    overflow: hidden;
}
.ZXpchdjbxx_xz_one>p{
    font-size: 14px;
    color: #0e6971;
    margin-left: 20px;
}
.ap{
    margin-top:13px;
}
.ZXpchdjbxx_xz_rys1{
    float: left;
    width: 300px;
    margin: 15px 0 0 0;
    border: 1px solid #a2c5e0;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #a2c5e0;
    position: relative;
    overflow: hidden;

}
.ZXpchdjbxx_xz_rys1:hover .ZXpchdjbxx_xz_rys_hover{
    display: block;
}
.ZXpchdjbxx_xz_zz1{
    width: 100px;
    height: 80px;
    border-right: 1px solid #6d8da9;
    background: url("../image/home/touxiang3.png") no-repeat 50%;
    float: left;
    margin: 15px 0 0 10px;
}
.ZXpchdjbxx_xz_one1{
    width: 185px;
    /* height: 80px; */
    float: left;
    margin: 15px 0 0 0px;
}
.ZXpchdjbxx_xz_one1>p{
    font-size: 14px;
    color: #224461;
    margin-left: 20px;
}
.ZXpchdjbxx_xz_rys1{
    float: left;
    width: 300px;
    margin: 15px 0 0 0;
    border: 1px solid #a2c5e0;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #a2c5e0;
    position: relative;
    overflow: hidden;
    padding: 6px 0 12px 0;
}

.ZXpchdjbxx_xz_zz1{
    width: 100px;
    height: 80px;
    border-right: 1px solid #6d8da9;
    background: url("../image/home/touxiang3.png") no-repeat 50%;
    float: left;
    margin: 15px 0 0 10px;
}
.ZXpchdjbxx_xz_one1{
    width: 185px;
    /* height: 80px; */
    float: left;
    margin: 15px 0 0 0px;
    overflow: auto;
}
.ZXpchdjbxx_xz_one1>p{
    font-size: 14px;
    color: #224461;
    margin-left: 20px;
}
.ZXpchdjbxx_xz_rys2{
    float: left;
    width: 300px;
    /* height: 113px; */
    margin: 15px 0 0 0;
    border: 1px solid #62C2FE;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #62C2FE;
    position: relative;
    overflow: hidden;
    padding: 6px 0 12px 0;
}
.ZXpchdjbxx_xz_rys2:hover .ZXpchdjbxx_xz_rys_hover{
    display: block;
}
.ZXpchdjbxx_xz_zz2{
    width: 100px;
    height: 80px;
    border-right: 1px solid #39AB76;
    background: url("../image/home/touxiang2.png") no-repeat 50%;
    float: left;
    margin: 15px 0 0 10px;
}
.ZXpchdjbxx_xz_one2{
    width: 185px;
    /* height: 80px; */
    float: left;
    overflow: hidden;
    margin: 15px 0 0 0px;
}
.ZXpchdjbxx_xz_one2>p{
    font-size: 14px;
    color: #126398;
    margin-left: 20px;
}

.ZXpchdjbxx_xz_rys_hover{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    border-radius: 5px;
}
.yuan{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
}
.yuan_all{
    float: left;
    width: 40px;
    height: 63px;
    cursor: pointer;
}


