<!--案件详细信息-->
<div style="text-align:left; margin-top:20px; margin-bottom:15px; margin-left:30px;">
    <table style="height: 120px;">
        <caption style="font-family:@楷体; font-size:24px; font-weight:bold; margin-bottom:20px;">案件基本信息</caption>
        <tr>
            <td style=" width:75px">部门受案号</td>
            <td style="width:250px"><input class="easyui-textbox" id="txtBMSAH" value="@BMSAH" style="width:240px"/></td>
            <td style=" width:60px">统一受案号</td>
            <td><input class="easyui-textbox" id="txtTYSAH" value="@TYSAH" style="width:240px"/></td>
        </tr>
        <tr>
            <td>承办单位</td>
            <td><input class="easyui-textbox" id="txtCBDW" value="@CBDW" style="width:240px"/></td>
            <td>受理日期</td>
            <td><input class="easyui-textbox" id="txtSLRQ" value="@SLRQ" style="width:240px"/></td>
        </tr>
        <tr>
            <td>案件名称</td>
            <td><input class="easyui-textbox" id="txtAJMC" value="@AJMC" style="width:240px"/></td>
            <td>案件类别</td>
            <td><input class="easyui-textbox" id="txtAJLB" value="@AJLB" style="width:240px"/></td>
        </tr>
        <tr>
            <td>承办部门</td>
            <td><input class="easyui-textbox" id="txtCBBM" value="@CBBM" style="width:240px"/></td>
            <td>承办人</td>
            <td><input class="easyui-textbox" id="txtCBR" value="@CBR" style="width:240px"/></td>
        </tr>
        <tr>
            <td>侦查机关</td>
            <td><input class="easyui-textbox" id="txtZCJG" value="@ZCJG" style="width:240px"/></td>
            <td>移送单位</td>
            <td><input class="easyui-textbox" id="txtYSDW" value="@YSDW" style="width:240px"/></td>
        </tr>
        <tr>
            <td>移送文书文号</td>
            <td><input class="easyui-textbox" id="txtYSWSWH" value="@YSWSWH" style="width:240px"/></td>
            <td>移送案由</td>
            <td><input class="easyui-textbox" id="txtYSAY" value="@YSAY" style="width:240px"/></td>
        </tr>
        <tr>
            <td>移送其他案由</td>
            <td><input class="easyui-textbox" id="txtYSQTAY" value="@YSQTAY" style="width:240px"/></td>
            <td>涉外案件</td>
            <td><input class="easyui-textbox" id="txtSWAJ" value="@SWAJ" style="width:240px"/></td>
        </tr>
        <tr>
            <td>督办案件</td>
            <td><input class="easyui-textbox" id="txtDBAJ" value="@DBAJ" style="width:240px"/></td>
            <td>关注案件</td>
            <td><input class="easyui-textbox" id="txtGZAJ" value="@GZAJ" style="width:240px"/></td>
        </tr>
        <tr>
            <td>办理天数</td>
            <td><input class="easyui-textbox" id="txtBLTS" value="@BLTS" style="width:240px"/></td>
            <td>完成日期</td>
            <td><input class="easyui-textbox" id="txtWCRQ" value="@WCRQ" style="width:240px"/></td>
        </tr>
        <tr>
            <td>归档日期</td>
            <td><input class="easyui-textbox" id="txtGDRQ" value="@GDRQ" style="width:240px"/></td>
            <td>归档人</td>
            <td><input class="easyui-textbox" id="txtGDR" value="@GDR" style="width:240px"/></td>
        </tr>
        <tr>
            <td>案情摘要</td>
            <td colspan="3">
                <input class="easyui-textbox" id="txtAQZY" value="@AQZY" data-options="multiline:true" style="width:558px; height:150px"/>
            </td>
        </tr>
    </table>
</div>