<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<script type="text/javascript">
    AddScript("text/javascript","script/evaluate/handle/pcbl_switch.js")
</script>
<div id="view_evaluate_handle_qhhq" onclick="view_evaluate_handle_qhhq()" style="position: absolute;top: 31px;right: 40px;z-index:2222;background: url('image/home/bm.png')no-repeat center;width: 16px;height: 16px;cursor: pointer">
</div>

<div class="pcbl">

    <div class="easyui-layout" data-options="fit:true">

        <div data-options="region:'west',split:true" title="案件信息" style="width:55%;">
            <div class="pcbl_ajxx">
                <div id="pcbl_ajxx_left" style="width: calc(100% - 30px);height: 100%;float: left;;z-index: 2">

                </div>
                <ul class="pcbl_ajxx_btn">
                    <li class="pcbl_ajxx_btn_click pcbl_ajxx_btn_ul_li">
                        <div class="pcbl_ajxx_btn_ul_li_text">文书卷宗</div>
                        <div class="pcbl_ajxx_sjx" style="display:block;"></div>
                        <div class="pcbl_ajxx_btn_postion" style="top: -1px;">
                            <ul id="tt" class="easyui-tree" style="color:#000">
                                <li>
                                    <span>Folder</span>
                                    <ul>
                                        <li>
                                            <span>Sub Folder 1</span>
                                            <ul>
                                                <li>
                                                    <span><a href="#">File 11</a></span>
                                                </li>
                                                <li>
                                                    <span>File 12</span>
                                                </li>
                                                <li>
                                                    <span>File 13</span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>File 2</span>
                                        </li>
                                        <li>
                                            <span>File 3</span>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span>File21</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="pcbl_ajxx_btn_ul_li">
                        <div class="pcbl_ajxx_btn_ul_li_text">电子卷宗</div>
                        <div class="pcbl_ajxx_sjx"></div>
                        <div class="pcbl_ajxx_btn_postion" style="top: -115px;">
                            <ul id="aa" class="easyui-tree" style="color:#000">
                                <li>
                                    <span>Folder</span>
                                    <ul>
                                        <li>
                                            <span>Sub Folder 1</span>
                                            <ul>
                                                <li>
                                                    <span><a href="#">File 11</a></span>
                                                </li>
                                                <li>
                                                    <span>File 12</span>
                                                </li>
                                                <li>
                                                    <span>File 13</span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>File 2</span>
                                        </li>
                                        <li>
                                            <span>File 3</span>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span>File21</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="pcbl_ajxx_btn_ul_li">
                        <div style="margin-top: 32px" class="pcbl_ajxx_btn_ul_li_text">案卡</div>
                        <div class="pcbl_ajxx_sjx"></div>
                        <div class="pcbl_ajxx_btn_postion"  style="top: -227px;">

                        </div>
                    </li>
                    <li class="pcbl_ajxx_btn_ul_li">
                        <div class="pcbl_ajxx_btn_ul_li_text">过程信息</div>
                        <div class="pcbl_ajxx_sjx"></div>
                        <div class="pcbl_ajxx_btn_postion"  style="top: -341px;">
                        </div>
                    </li>
                    <li class="pcbl_ajxx_btn_ul_li">
                        <div class="pcbl_ajxx_btn_ul_li_text">流程监控</div>
                        <div class="pcbl_ajxx_sjx"></div>
                        <div class="pcbl_ajxx_btn_postion"  style="top:-453px;">
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div data-options="region:'center'" title="评查信息" href="./view/evaluate/handle/evalinfo.html" style="padding: 5px">
        </div>
    </div>
</div>

</body>
</html>