<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评查反馈</title>
</head>
<body>
<!--页面JS加载，放在头部不能正确加载-->
<script type="text/javascript">
    AddScript("text/javascript", "script/evaluate/feedback/index.js");
</script>


<div id="div_feedback_list" class="easyui-panel" style="margin-top:0px" data-options="fit:true,border:false">
    <!--工具栏-->
    <div id="tool_feedback_list" style="padding: 5px;" >
        <div style="height: 30px; border-radius:2px; border: 0px solid #c1c1c1;">
            <span >案件名称</span>
            <input id="txt_feedback_ajmc" type="text" style="width:220px;height: 28px;">
            <button id="btn_feedback_search" class="ZXpc_pcfa_2" style="background-color: #258EEA;">查询</button>
        </div>
    </div>
    <!--案件列表-->
    <table id="grid_feedback_list" border="0"></table>
</div>

</body>
</html>