<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.start.boot.dao.tyyw.TyywTestMapper">
  <resultMap id="BaseResultMap" type="com.start.boot.domain.TyywTest">
    <id column="DWBM" jdbcType="CHAR" property="dwbm" />
    <id column="BMBMJH" jdbcType="VARCHAR" property="bmbmjh" />
    <id column="WSMBBHJH" jdbcType="VARCHAR" property="wsmbbhjh" />
    <id column="WSJC" jdbcType="VARCHAR" property="wsjc" />
    <result column="DQZ" jdbcType="DECIMAL" property="dqz" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DWBM, BMBMJH, WSMBBHJH, WSJC, DQZ
  </sql>
  <select id="selectByExample" parameterType="com.start.boot.domain.TyywTestExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from XT_YH_WSYH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.start.boot.domain.TyywTestKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from XT_YH_WSYH
    where DWBM = #{dwbm,jdbcType=CHAR}
      and BMBMJH = #{bmbmjh,jdbcType=VARCHAR}
      and WSMBBHJH = #{wsmbbhjh,jdbcType=VARCHAR}
      and WSJC = #{wsjc,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.start.boot.domain.TyywTestKey">
    delete from XT_YH_WSYH
    where DWBM = #{dwbm,jdbcType=CHAR}
      and BMBMJH = #{bmbmjh,jdbcType=VARCHAR}
      and WSMBBHJH = #{wsmbbhjh,jdbcType=VARCHAR}
      and WSJC = #{wsjc,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.start.boot.domain.TyywTestExample">
    delete from XT_YH_WSYH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.start.boot.domain.TyywTest">
    insert into XT_YH_WSYH (DWBM, BMBMJH, WSMBBHJH, 
      WSJC, DQZ)
    values (#{dwbm,jdbcType=CHAR}, #{bmbmjh,jdbcType=VARCHAR}, #{wsmbbhjh,jdbcType=VARCHAR}, 
      #{wsjc,jdbcType=VARCHAR}, #{dqz,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.start.boot.domain.TyywTest">
    insert into XT_YH_WSYH
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dwbm != null">
        DWBM,
      </if>
      <if test="bmbmjh != null">
        BMBMJH,
      </if>
      <if test="wsmbbhjh != null">
        WSMBBHJH,
      </if>
      <if test="wsjc != null">
        WSJC,
      </if>
      <if test="dqz != null">
        DQZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dwbm != null">
        #{dwbm,jdbcType=CHAR},
      </if>
      <if test="bmbmjh != null">
        #{bmbmjh,jdbcType=VARCHAR},
      </if>
      <if test="wsmbbhjh != null">
        #{wsmbbhjh,jdbcType=VARCHAR},
      </if>
      <if test="wsjc != null">
        #{wsjc,jdbcType=VARCHAR},
      </if>
      <if test="dqz != null">
        #{dqz,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.start.boot.domain.TyywTestExample" resultType="java.lang.Long">
    select count(*) from XT_YH_WSYH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update XT_YH_WSYH
    <set>
      <if test="record.dwbm != null">
        DWBM = #{record.dwbm,jdbcType=CHAR},
      </if>
      <if test="record.bmbmjh != null">
        BMBMJH = #{record.bmbmjh,jdbcType=VARCHAR},
      </if>
      <if test="record.wsmbbhjh != null">
        WSMBBHJH = #{record.wsmbbhjh,jdbcType=VARCHAR},
      </if>
      <if test="record.wsjc != null">
        WSJC = #{record.wsjc,jdbcType=VARCHAR},
      </if>
      <if test="record.dqz != null">
        DQZ = #{record.dqz,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update XT_YH_WSYH
    set DWBM = #{record.dwbm,jdbcType=CHAR},
      BMBMJH = #{record.bmbmjh,jdbcType=VARCHAR},
      WSMBBHJH = #{record.wsmbbhjh,jdbcType=VARCHAR},
      WSJC = #{record.wsjc,jdbcType=VARCHAR},
      DQZ = #{record.dqz,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.start.boot.domain.TyywTest">
    update XT_YH_WSYH
    <set>
      <if test="dqz != null">
        DQZ = #{dqz,jdbcType=DECIMAL},
      </if>
    </set>
    where DWBM = #{dwbm,jdbcType=CHAR}
      and BMBMJH = #{bmbmjh,jdbcType=VARCHAR}
      and WSMBBHJH = #{wsmbbhjh,jdbcType=VARCHAR}
      and WSJC = #{wsjc,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.start.boot.domain.TyywTest">
    update XT_YH_WSYH
    set DQZ = #{dqz,jdbcType=DECIMAL}
    where DWBM = #{dwbm,jdbcType=CHAR}
      and BMBMJH = #{bmbmjh,jdbcType=VARCHAR}
      and WSMBBHJH = #{wsmbbhjh,jdbcType=VARCHAR}
      and WSJC = #{wsjc,jdbcType=VARCHAR}
  </update>
</mapper>